<!DOCTYPE html>
<html>
	<head>
		<title>Account Taken</title>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap" rel="stylesheet">
		<style>
			h1 {
				font-family: "Open Sans", sans-serif;
				font-weight: 400;
				text-align: center;
			}
			a {
				font-family: "Open Sans", sans-serif;
				font-weight: 400;
				text-align: center;
			}
			p {
				font-family: "Open Sans", sans-serif;
				font-weight: 400;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<h1>Account Taken</h1>
		<p><a href="/register">Register</a></p>
	</body>
</html>